<div data-sly-use.finder="com.aem.samples.core.models.AssetFinderModel">
    <h1>${properties.title}</h1>
    <form method="get">
        <fieldset>
            <label>Search text in /content/dam</label>
            <input name="${finder.nameTextProperty}" type="text">
        </fieldset>
        <input type="submit">
    </form>
    <div class="result">
        <ul data-sly-test="${finder.text}" data-sly-list.result="${finder.result}">
            <li>${result}</li>
        </ul>
    </div>
</div>